<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -TmeritFX</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">	
	<!-- Lineawesome CSS -->
    <link rel="stylesheet" href="~/assets/css/line-awesome.min.css">	
	<!-- Datatable CSS -->
	<link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">
	<!-- Select2 CSS -->
	<link rel="stylesheet" href="~/assets/css/select2.min.css">
	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">
	<!-- Calendar CSS -->
	<link rel="stylesheet" href="~/assets/css/fullcalendar.min.css">
	<!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

	<script>
        function errorAlert(message) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function infoAlert(message) {
            Swal.fire({
                icon: 'info',
                text: message,
                confirmButtonColor: "#00A7EF",
            })
        }

        function infoAlertWithStyles(message) {
            Swal.fire({
                title: 'Notification',
                icon: 'info',
                text: message,
            })
        }

        function successAlert(message) {
            Swal.fire({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
                timer: 30000,
            })
        }

        function newErrorAlert(message, url) {
            Swal.fire({
                icon: 'error',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function newSuccessAlert(message, url) {
            Swal({
                icon: 'success',
                text: message,
                confirmButtonColor: "#00A7EF",
            }).then((isConfirm) => {
                if (isConfirm) {
                    location.reload(url);
                }
            })
        }

        function successAlertWithRedirect(message, url) {
            Swal.fire({
                title: "Success",
                text: message,
                icon: "success",
                timer: 30000,
                confirmButtonColor: "#00A7EF",
                overlay: "background - color: rgba(43, 165, 137, 0.45)",
            }).then(function () {

                location.href = url;
            })
        }

        function errorAlertwithTwoButtons(yesUrl, noUrl, newUrl, errorTitle) {
            Swal.fire({
                title: errorTitle,
                text: "",
                icon: "error",
                buttons: {
                    cancle: "No",
                    confirmButtonColor: "#00A7EF",
                    change: "Yes",
                    new: "Create Pin",
                },
            })
                .then((status) => {
                    debugger;
                    switch (status) {
                        case "change":
                            location.href = yesUrl;
                            break;
                        case "new":
                            location.href = newUrl;
                            break;
                        default:
                            location.href = noUrl;
                    }
                });
        }

        function SweeTest(yesUrl, noUrl) {
            Swal.fire({
                title: "Unverified E-mail Address",
                text: "Check your inbox Or Change email",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#00A7EF",
                confirmButtonText: "Resend Email",
                cancelButtonText: "Change Email",
                cancelButtonColor: "#D3AF71",
                closeOnConfirm: false,
                closeOnCancel: false
            })
                .then((result) => {
                    debugger
                    if (result.isConfirmed) {
                        location.href = yesUrl
                    }
                    else {
                        location.href = noUrl
                    }

                });
        }
    </script>
</head>

    <body>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<!-- Header -->
            <div class="header">
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="~/assets/img/logo.png" width="40" height="40" alt="">
					</a>
                </div>
				<!-- /Logo -->
				
				<a id="toggle_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Title -->
                <div class="page-title-box">
					<h3>TmeritFX</h3>
                </div>
				<!-- /Header Title -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Notification -->
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="fa fa-bell-o" style="font-size:30px;color:white"></i></a>
					</li>
					<!-- /Sell -->
					<!-- User -->
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="fa fa-user-circle" style="font-size:30px;color:white"></i> Kate</a>
					</li>
					<!-- /User -->
                    <!-- LogOut -->
					<li class="nav-item">
						<a asp-controller="Accounts" asp-action="LogOut" class="nav-link"><i class="fa fa-power-off" style="font-size:30px;color:red"></i></a>
					</li>
                    <!--/ LogOut -->
				</ul>				
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#">Make Sales</a>
						<a class="dropdown-item" href="#">Sales Return</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
                            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="la la-home"></i> <span>Dashboard</span></a></li>
							<li class="submenu">
								<a href="#"><i class="la la-wallet"></i> <span>Investments</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a asp-action="Plans" asp-controller="Investor">Referral</a></li>
									<li><a asp-action="History" asp-controller="Investor">Investment Hisory</a></li>
								</ul>
							</li>	
							<li> <a asp-action="Withdrawal" asp-controller="Investor"><i class="fa fa-exchange"></i> <span>Withdrawl</span></a></li>
							<li><a asp-action="Referrals" asp-controller="Investor"><i class="la la-group"></i> <span>Referrals</span></a></li>
							<li><a href="#"><i class="la la-support"></i> <span>Support</span></a></li>
							<li class="submenu">
								<a href="#"><i class="la la-cog"></i> <span>Account Settings</span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									<li><a asp-controller="Accounts" asp-action="ChangePassword">Change Password</a></li>
									<li><a asp-controller="Accounts" asp-action="LogOut">Logout</a></li>
								</ul>
							</li>
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
            <div class="page-wrapper">
			
				<!-- Page Content -->
                <div class="content container-fluid">
					<main role="main">
						@RenderBody()
					</main>			
				</div>
				<!-- /Page Content -->
            </div>
			<!-- /Page Wrapper -->
        </div>
    </body>
	<!-- jQuery -->
    <script src="~/assets/js/jquery-3.5.1.min.js"></script>
	<!-- Bootstrap Core JS -->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
	<!-- Slimscroll JS -->
	<script src="~/assets/js/jquery.slimscroll.min.js"></script>
	<!-- My script -->
    <script src="~/js/site.js" asp-append-version="true"></script>
	<!-- Select2 JS -->
	<script src="~/assets/js/select2.min.js"></script>
	<!-- Datetimepicker JS -->
	<script src="~/assets/js/moment.min.js"></script>
	<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>    
    <!-- Calendar JS -->
	<script src="~/assets/js/jquery-ui.min.js"></script>
    <script src="~/assets/js/fullcalendar.min.js"></script>
    <script src="~/assets/js/jquery.fullcalendar.js"></script>
	<!-- Datatable JS -->
	<script src="~/assets/js/jquery.dataTables.min.js"></script>
	<script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
	<!-- Chart JS -->
	<script src="~/assets/plugins/morris/morris.min.js"></script>
	<script src="~/assets/plugins/raphael/raphael.min.js"></script>
	<script src="~/assets/js/chart.js"></script>
	<!-- Custom JS -->
	<script src="~/assets/js/app.js"></script>
	<script src="~/assets/js/sweetalert2.all.min.js"></script>
    <script src="~/assets/js/sweetalert.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
    <script src="//code.tidio.co/q0zqiuvz0zwqp7vuys4yk9efdxajm2th.js" async></script>
</html>
