@{
    ViewData["Title"] = "Change Password Page";
    Layout = "~/Views/Shared/_InvestorsLayout.cshtml";
//	Layout = ViewBag.Layout;
}

<div class="Container">
    <div class="row justify-content-center">
        <div class="col-md-5 p-4 account-cont bg-white">
            <div class="row justify-content-center">
                <div class="col-md-12 account-logo">
					<img src="~/assets/img/BV-Logo.png" alt="Logo">
                </div>
                <div class="col-md-12 mb-3">
					<div class="row">
						<div class="col-md-12 mb-3">
							<label >Old Password</label>
							<input type="password" class="form-control" id="OldPasswrd" required>
                            <p class="text-danger" id="oldPassVDT" style="display: none;">Enter Old Password</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-3">
							<label >New Password</label>
							<input type="password" class="form-control" id="NewPasswrd" required>
                            <p class="text-danger" id="newPassVDT" style="display: none;">Enter New Password</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 mb-5">
							<label >Confirm Password</label>
							<input type="password" class="form-control" id="Cpasswrd" required>
                            <p class="text-danger" id="cnewPassVDT" style="display: none;">Password and confirm password not matched</p>
						</div>
					</div>
					<div class="form-group text-center">
						<button class="btn btn-primary account-btn" onclick="ChangePasswordPost()" type="submit">Update Password</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
