@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="login-wrapper">
    <div class="container-center" style="margin-top: -18px;">
        <div class="panel panel-bd">
            <div class="panel-heading">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe-7s-unlock"></i>
                    </div>
                    <div class="header-title">
                        <h3>Login</h3><br>
                        <small><strong>Please enter your credentials to login.</strong></small>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <strong>Don't have an account yet?</strong>
                    <a asp-action="Register" asp-controller="Accounts">Register</a><hr>
                </div>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="email" type="email" class="form-control" required autocomplete="email" autofocus="" placeholder="Enter your email address"/>
                    </div>
                    <p class="text-danger" id="emailValidation" style="display: none;">Enter your email</p>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        <input id="password" type="password" class="form-control" required placeholder="Enter Your Password" />
                    </div>
                    <p class="text-danger" id="passwordValidation" style="display: none;">Enter password</p>
                </div>
                <div>
                    <div class="checkbox checkbox-success">
                        <input id="checkbox3" type="checkbox" name="remember">
                        <label for="checkbox3">Keep me signed in</label>

                        <a asp-action="ForgotPassword" asp-controller="Accounts" class="pull-right">
                            <span for="checkbox3">
                                Forgot Password?
                            </span>
                        </a>
                    </div><br>
                    <button class="btn-lg btn-block btn btn-primary pull-right" type="submit" onclick="loginPost()">Login</button>
                </div>
            </div>
        </div>
        <div style="font-weight: bold;" align="center">
            <a asp-action="Index" asp-controller="Home"><i class="fa fa-arrow-circle-left"></i> Back to Home</a><br><br>
        </div>
        <div class="text-center">
            &copy; 2022 VolksFx Investment.<br>All Rights Reserved.
        </div>
    </div>
</div>

<script>
    (function () {
        function onTidioChatApiReady() {
            window.tidioChatApi.hide();
        }

        if (window.tidioChatApi) {
            window.tidioChatApi.on("ready", onTidioChatApiReady);
        }

        document.querySelector(".chat-button").addEventListener("click", function () {
            window.tidioChatApi.show();
            window.tidioChatApi.open();
        });
    })();
</script>
